#ifndef {mangled_name}_HDR_
#define {mangled_name}_HDR_

#include <stdlib.h>

struct {mangled_name} {{
    size_t len;
    {content_type}* contents;
}};

void {mangled_name}_append({content_type}*):
void {mangled_name}_print();
{mangled_name}* new_{mangled_name}();

#endif
